body{background-color:#fff}
#login{height:100vh;overflow-x:hidden}
#login #login-left{padding:3rem 3rem}
#login #login-left .login-logo{margin-bottom:5rem;}
#login #login-left .login-logo img{height:5rem}
#login #login-left .login-logo .login-title{color:#a8aebb;font-size:3rem;vertical-align: middle;}
#login #login-left .login-subtitle{font-size:2.5rem;line-height:3rem}

@media screen and (max-width:767px){
    #login #login-left{padding:5rem}
}
@media screen and (max-width:576px){
    #login #login-left{padding:5rem 3rem}
}
body.theme-dark #login-right{background:linear-gradient(90deg,#446E1C,#BEAF18)}
